/* Box Sizing */
*,
h1 {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* General */
html {
  font-size: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #9DA9A0;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* Main */
.timer {
  /* ! not working */
  background-color: rgb(221, 211, 198);
  border-radius: 5px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  max-width: 960px;
  max-height: 550px;
  padding: 5px;
  width: fit-content;
  block-size: fit-content;
}

.quiz-container {
  background-color: rgb(221, 211, 198);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 10em; /* ! this is not centered on the page */
  gap: 1rem;
  height: 65%;
  width: 100vh;
}

#btn-shell {
  display: flex;
  align-items: center;
  justify-content: center;
}
  /*! need to figure out how 2 turn into rows */
/* p {
  margin: 1em;
} */

/* Buttons */
.btn {
  background-color: rgb(241, 232, 222);
  border: 0.17em solid rgb(106, 103, 98);
  border-radius: 0.25em;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 25vh;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 3s;
  background-color: burlywood;
}

/* 
.answer-btn-grid {

} */


/* #start-btn {} */

/* #next-btn {} */

/* #restart-btn {} */

/* Show + Hide */

/* #hide-next {
 
} */

/* #hide-start {
    display: none;
} */




/* pseudo code:

3 steps:
initialize game, play game, end of game


initialize game:
CS
I want a start button that begins

JS
Timer Countdown to start

JS
First Question to appear


play game:
CSS
✅I want a box with 4 possible answers, each encased in their own box that you can 

JS
click which will submit that as the answer.

CSS
✅I want a button that says START GAME that should 

JS
be hidden after pressing

CSS
✅I want a button that says NEXT QUESTION that should

JS
be hidden UNTIL starting game.

CSS
✅There should be a hover effect

CSS
and a before and after that changes colors

JS
when clicked. Think about using the keydown method.

JS
All questions should appear in a random order using the Math.random() method


end of game:
JS
an alert stating ALL DONE should appear

JS
and prompt you to input your initials. (final score and initials should be kept using the localStorage method.)

JS
I want my timer to stop counting

CSS
I want a win/loss tracker

JS
that keeps score

CSS
✅I want a button (CSS) that Play Again? that 

JS
if clicked Will cause my timer to reset */