/* Box Sizing */
*,
h1 {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

/* General */
html {
  font-size: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: aquamarine;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* Main */
.cointainter-box-shell > * {
  align-items: center; /*can't get this to work */
  background-color: antiquewhite;
  display: flex;
  justify-content: center; /*can't get this to work */
  padding: 0;
  margin: 0;
}

.cointainter-box-shell {
  height: 100vh;
  width: 100vw;
}

/* Buttons */

.btn {
  background-color: rgb(241, 232, 222);
  border: 0.17em solid rgb(106, 103, 98);
  border-radius: 0.25em;
  margin: 0.5rem;
  padding: 0.5rem;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 3s;
  background-color: burlywood;
}

/* 
.answer-btn-grid {

} */

/* .utlity-buttons {
  margin: 3rem;
  padding: 3rem;
} */

/* .start-button {
 
} */

/* .next-button {
 
} */


/* Show + Hide */

/* .hide-next {
 
} */

/* .hide-start {
    display: none;
} */

/* .hide-question {
    display: none;
} */




/* pseudo code:

3 steps:
initialize game, play game, end of game


initialize game:
In main body/outer container: I want a timer (should this give you a time limit that works with WHOLE QUIZ.
I want a win/loss tracker


play game:
I want a box with 4 possible questions, each encased in their own box that you can click which will submit that as the answer.

There should be a hover effect and a before/after that changes colors when clicked. Think about using the keydown method.

All questions should appear in a random order using the Math.random() method

The larger box should have:

I want a button that says START GAME that should be hidden after pressing

I want a button that says NEXT QUESTION that should be hidden UNTIL starting game.


end of game:
when game finishes an alert stating ALL DONE should appear along your final score and a prompt for you to input your initials. final score and initials should be kept using the localStorage method.

I want a button that says CLEAR HIGH SCORES
I want my timer to stop counting

I want a button the START GAME button to also appear here to iniitalize another new game. that means, go back to SHOW.

I want my timer to reset */
